
.pass-gen
{
    font-family: var(--font-inter);
    padding: 7.1rem 3.2rem;
    max-width: 31.25rem;
    margin: 0 auto;
}

.pass-gen__configs {
    padding-bottom: 2.18rem;
    border-bottom: 1px solid var(--color-lighter-dark-blue);
}

.pass-gen__title
{
    color: var(--color-blank);
    font-family: var(--font-karla);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0.62rem;
}

.pass-gen__highlight 
{
    color: var(--color-green);
}

.pass-gen__body {
    color: var(--color-mid-gray);
    font-size: 1.25rem;
    margin-bottom: 3.18rem;
}

.pass-gen__form {
    color: var(--color-blank);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pass-gen__form-group {
    display: flex;
    gap: 1rem;
}

.pass-gen__input {
    display: block;
}


.pass-gen__btn {
    margin-top: 1rem;
    background-color: var(--color-green-2);
    font-family: inherit;
    border: none;
    padding: 0.56rem 1rem;
    color: var(--color-blank);
    font-weight: 500;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: filter 300ms;
    display: block;
}

.pass-gen__btn:hover
{
    filter: brightness(120%);
}


.pass-gen__outputs 
{
    padding-top: 2.18rem;
    display: flex;
    justify-content: space-between;
    column-gap: 1.5rem;
}

.pass-gen__pass 
{
    flex-basis: 50%;
    text-align: center;
    color: var(--color-green);
    padding: 0.5rem 1rem;
    background-color: var(--color-lighter-dark-blue-2);
    font-weight: 500;
    border-radius: 0.375rem;
    cursor: pointer;
}
